parameters:
    level: 8
    paths:
        - includes
        - tests
    bootstrapFiles:
        - paubox-cf7.php
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/miguelcolmenares/cf7-stubs/contact-form-7-stubs.php
    scanFiles:
        - vendor/php-stubs/wordpress-tests-stubs/wordpress-tests-stubs.php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Constant PAUBOX_CF7_#'
